<h1 class="my-3">Cadastrar Emprego</h1>
<div class="card shadow">
  <form class="m-3">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="nome">Nome do Emprego: </label>
          <input
           type="text"
           class="form-control"
           placeholder="Digite o nome do Emprego"
           name="nomeProduto"
           [(ngModel)] = "produto.nome"/>
        </div>
      </div>
    </div><!--Fim row-->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="Validade">Contrato do Emprego: </label>
          <input
           type="date"
           class="form-control"
           name="validade"
           [(ngModel)] = "produto.validade"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="precoProduto">Salário do Emprego: </label>
          <input
           type="number"
           class="form-control"
           placeholder="0.00"
           name="preco"
           [(ngModel)] = "produto.precoProduto"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-danger" routerLink="/produtos">
           Voltar
        </button>
        <button class="btn btn-success float-right" (click)="salvarProduto()">
          Salvar
        </button>
      </div>
    </div>
  </form>
</div>


